@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid rounded-start" alt="QR Code"
      src='@Html.Raw("data:image/png;base64," + @ViewData["Base64Qr"])'
      >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Scan this Qr</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>