@inherits LayoutComponentBase


<main class="container">
   @Body
</main>
<nav class="navbar navbar-light bg-light fixed-bottom justify-content-center">
    <div class="d-flex gap-4" >

    <a class="btn material-icons" style="font-size: xx-large;" href="index">
            home
    </a>
    <a class="btn material-icons"  style="font-size: xx-large;" href="fetchdata">
            qr_code_scanner
    </a>
    <a class="btn material-icons"  style="font-size: xx-large;" href="counter">
            article
    </a>
    <a class="btn material-icons"  style="font-size: xx-large;" href="">
            account_circle
    </a>
    </div>
</nav>

