@model DocumentParameterValue


@{
    ViewData["Title"] = "Edit Document Parameter";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <h4 class="col-11">Edit - @Model.DocumentParameter.Label </h4>
            <a class="col-1 btn btn-secondary material-icons" type="button">close</a>
        </div>
    </div>
    <div class="card-body">
        <form class="row" asp-controller="Documents" asp-action="EditDocumentType" method="post">
            <div class="input-group">
                <input asp-for="@Model.ParameterValue" class="form-control" />
                <button asp-route-id="@Model.Id" asp-controller="Users" asp-action="ParameterValueEdit"
                    class="btn btn-primary material-icons" type="submit">check</button>
            </div>
        </form>
    </div>
</div>

    