@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model DocumentType


@{
  ViewData["Title"] = "Add or Edit Params";
}


<div class="card">
  <div class="card-header">
    <h4>Create documnet type</h4>
  </div>
  <div class="card-body">
    <form class="row" asp-controller="Documents" asp-action="EditDocumentType" method="post">
      <div class="input-group">
        <label class="input-group-text">Document Type</label>
        <input asp-for="@Model.Label" class="form-control"/>
        <button asp-controller="Documents" asp-action="TypeCreate" 
          class="btn btn-primary material-icons" type="submit">check</button>
      </div>
    </form>
  </div>
</div>
